{% extends 'app_general/components/base.html' %}

{% block site_title %}เกี่ยวกับ | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2>เกี่ยวกับแว่นแซนวิช x จันทร์ไรเดอร์</h2>
        <h4>ก่อตั้งเมื่อปี 2020</h4>
        <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit ametLorem ipsum dolor sit amet
            Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet.</p>
        <h4>วัตุดิบชั้นยอด ที่ import มาจากต่างโลก</h4>
        <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit ametLorem ipsum dolor sit amet
            Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet.</p>
        <h4>สุดยอดจันทร์ไรแมน</h4> 
        <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit ametLorem ipsum dolor sit amet
            Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet.</p>
    </div>
</section>
{% endblock %}